main {
  margin: 30px 0 0 20%;
  width: 80%;
}
#info {
  margin: 5% 0 0 0;
}
#infotop {
  margin-left: 5%;
  width: 90%;
  border-bottom: solid 0.2em rgb(240, 131, 54);
  display: inline-block;
  text-indent: 1%; /* 글자 들여쓰기  */
  line-height: 40px; /* 단락 간격조정 */
}
section {
  display: inline-block;
  margin: 0 5% 0 5%;
  display: flex;
}
section div {
  padding: 20px 20px 20px 20px;
}
section div button {
  width: 80px;
}
#loginBtn {
  width: 100px;
  height: 30px;
  font-family: fantasy;
  margin-left: 20px;
  background-color: white;
  border: 2px;
  box-shadow: 1px 1px 3px 1px rgb(239, 151, 88);
}
#underline {
  width: 90%;
  height: 0px;
  margin-left: 3%;
}
#section {
  margin-left: 1%;
  padding: 20px 20px 20px 20px;
}
#section h3 {
  text-align: center;
}
.box {
  float: left;
  width: 450px;
  height: 100px;
  margin: 3% 3% 3% 3%;
  padding: 20px 20px 20px 20px;
  background-color: papayawhip;
  line-height: 0px;
}
.box div {
  padding: 10px auto;
  display: flex; /* 텍스트를 세로중앙배열방법 */
  align-items: center; /* 텍스트를 세로중앙배열방법 */
}
.box > div > img {
  width: 50px; /* 아이콘 크기 */
  height: 50px; /* 아이콘 크기 */
  padding: 10px;
}
#section {
  perspective: 600px;
}
.box:hover {
  transform: rotatey(30deg);
  transition-duration: 2s, 1s;
}

#gallerySection {
  margin-left: 1%;
  padding: 20px 20px 20px 20px;
}
#gallerySection h3 {
  text-align: center;
}

#galleryBtnListBox {
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0% 3% 0% 3%;
  padding: 0px 20px 0px 20px;
}
#galleryBtnList {
  list-style: none;
  font-size: large;
}
.galleryBtn {
  font-size: large;
  display: inline-block;
  width: 120px;
  border: 3px solid #bd7c7c;
  border-radius: 20%;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}
#galleryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 360px;
  margin: 1% 3% 1% 3%;
  background-color: white;
}
#galleryImg {
  margin: 1px auto;
  width: 800px;
  height: 350px;
}
